body {
    font: 16px/28px 'Microsoft YaHei';
}

h2 {
    text-align: center;
    font-weight: 400;
}

p {
    text-indent: 2em;
    /* line-height: 26px; */
}

.p_center {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.line2div {
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: 12px;
}

.img_center {
    text-align: center;
}

.search {
    color: gray;
    font-size: 12px;
    width: 170px;
}

.subm {
    font-weight: 700;
}